html {
    box-sizing: border-box;
}

.top-section {
    width: 100%;
    height: 700px;
    display: flex;
}

.top-main-contant-section {
    width: 60%;
}

.top-left-section, .top-right-section, .bottom-left-section, .bottom-right-section{
    width: 20%;
}

.top-menu {
    display: flex;
    height: 100px;
}

.top-logo {
    display: flex;
    width: 50%;
    align-items: center;
}

.img-logo {
    margin-left: 50px;
    margin-right: 10px;
}

.grow {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.be {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ol {
    width: 100%;
}

.crumbs {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.crumb, .home {
    display: inline-block;
    margin: 5px;
  }

.crumb {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-content {
    display: flex;
    width: 100%;
}

.main-content-text {
    width: 50%;
    margin-left: 35px;
}

.main-content-text h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-content-text p {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-context-pic {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.pngfind {
    margin-top: 50px;
    width: 85%;
    height: 85%;
}

.main-content-buttons {
    display: flex;
    margin-top: 50px;
}

button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-content-buttons p {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

.bottom-section {
    width: 100%;
    height: 243px;
    display: flex;
}

.bottom-main-contant-section {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ads {
    height: 50px;
    width: 160px;
}